* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  @font-face {
    font-family: 'LeagueSpartan';
    src: url(../assets/fonts/league-spartan-bold.otf) format('opentype');
}
  @font-face {
    font-family: 'CorbertReg';
    src: url(../assets/fonts/Corbert-Regular.ttf) format('truetype');
}
  :root {
    /* colors */
    --logo-float-size: 2rem;
  
    --clr-white-const: 357 35% 95%;
    /* Orange/Burgundy Colors  */
    --clr-pink: 345 100% 66%;
    --clr-purple: 253 36% 31%;
    --clr-scr-bg: 340 0% 14%;
    --clr-burgundy: 330 55% 23%;
    --clr-brown: 11 45% 50%;
    --clr-white: 357 35% 93%;
    --clr-orange: 22 91% 70%;

    /* normal blue mode palette */
    /* --clr-burgundy: 216 69% 28%;
    --clr-brown: 254 36% 44%;
    --clr-orange: 335 100% 71%; */

    /* dark mode palette */
    /* --clr-brown: 302 69% 9%;  */
    --clr-burgundy: 304 95% 7%;
    --clr-brown: 216 95% 10%;
    --clr-nav-text: 240 0% 95%;
    --clr-white: 240 0% 95%;
    --clr-orange: 343 67% 58%;
    --clr-pink: 345 100% 66%;
    --clr-ds: 260 80% 10%;
    --clr-ds-border:343 67% 58%; 
    --clr-scr-bg: 340 0% 10%; 

    /*white mode */
     --clr-yellow: 49 93% 45%;
 
    /* font-sizes */
    --fs-900: clamp(6rem,20vw, 40rem);
    --fs-800: 3.5rem;
    --fs-700: clamp(1.8rem,8vw,2.6rem);
    --fs-600: 2rem;
    --fs-500: 1.65rem;
    --fs-400: 1.25rem;
    --fs-300: 1rem;
    --fs-200: 0.875rem;

    --fs-members-names: calc(12px + 3vw);
    --fs-members-long-names: calc(10px + 3vw);
    --fs-nav: 1.5rem;
    --fs-small: 0.8rem;
    --fs-medium: 1rem;
    --fs-large: 1.25rem;
    --fs-h1: 3rem;
    --fs-h2: 2.5rem;
    --fs-h3: 1.25rem;
    --fw-normal: 400;

    --big-icon-size: 5rem;
    /* font-families */
    /* --ff-serif: "Fog", serif;
    --ff-sans-cond: "Barlow Condensed", sans-serif;
    --ff-sans-normal: "Barlow", sans-serif; */
}
.light-mode{
    --clr-burgundy: 281 34% 62%;
    --clr-brown: 311 45% 93%;
    /* --clr-nav-text: 343 70% 17%; */
    --clr-nav-text: 240 0% 95%;
    --clr-white: 300 30% 20%;
    --clr-orange: 345 70% 64%;
    --clr-pink: 343 61% 52%;
    --clr-ds: 311 45% 69%;
    --clr-ds-border:343 40% 30%; 
    --fw-normal: 600;
    --clr-scr-bg: 240 0% 95%; 
}
.light-pink-filters{
    /* filter: invert(59%) sepia(21%) saturate(1098%) hue-rotate(293deg) brightness(92%) contrast(85%); */
    filter: invert(72%) sepia(48%) saturate(2813%) hue-rotate(298deg) brightness(95%) contrast(100%);  
}
.white-filters{
    filter: invert(99%) sepia(15%) saturate(83%) hue-rotate(235deg) brightness(112%) contrast(90%);
}

.dark-pink-filters{
    filter: invert(32%) sepia(20%) saturate(1634%) hue-rotate(292deg) brightness(93%) contrast(93%);
}
.orange-filters{
    filter: invert(61%) sepia(91%) saturate(182%) hue-rotate(320deg) brightness(94%) contrast(94%);
}
  .white-const{color:hsl( var(--clr-white-const));}
  .nav-text{color: hsl( var(--clr-nav-text));
}
  .white-text{color:hsl(var(--clr-white))} 
  .pink-text{color:hsl(var(--clr-orange))} 
  .fs-nav{font-size: var(--fs-nav);
    /* font-weight: var(--fw-normal); */
}
  .fs-medium{
    font-size: var(--fs-medium); 
   }
  .fw-light{font-weight:200;}
  .fs-large{    font-size: var(--fs-large); 
}

  /* .fs-h1{font-size: var(--fs-h1);
text-transform: uppercase;}
  .fs-h3{font-size: var(--fs-h3);
text-transform: uppercase;} */
  .light-mode-toggle{
    position: fixed;
    padding: 3px;
    width: 3rem;
    aspect-ratio: 1/2;
    border-radius: 25px;
    top: 4rem;
    right: 1rem;
    background-color: rgb(255, 255, 255);
    z-index: 9000;
    flex-direction: column;
}
    .mode-indicator{
        width: 100%;
        aspect-ratio: 1;
        border-radius: 25px;
        background-color: hsl( var(--clr-brown));
        transform: translateY(47px);
        transition: all 0.3s ease-in-out;
        justify-content: center;
        align-items: center;
    }
    .mode-icon-wrapper{
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    .mode-indicator.light-active{
        background-color: hsl( var(--clr-burgundy));
        transform: translateY(0px);
        transition: all 0.3s ease-in-out;
    }
    .mode-icon{
        width: 70%;
        aspect-ratio: 1;
        z-index: 10;
    }
    .mode-indicator .mode-icon{
        background: url(../assets/images/icons/moon.svg) center center / cover no-repeat;
    }
    .mode-indicator.light-active .mode-icon{
        background: url(../assets/images/icons/sun.svg) center center / cover no-repeat;
    }

  .ff-para{font-family: 'CorbertReg',sans-serif;}
  .ff-title{font-family: 'LeagueSpartan',sans-serif;}
  html,body{
    /* cursor:none; */
    scroll-behavior: smooth;
  }

  body {
    /* background: linear-gradient(black, rgb(89, 89, 89)); */
    background: linear-gradient(hsl(var(--clr-burgundy)) , hsl(var(--clr-brown)));
    -webkit-background: linear-gradient(hsl(var(--clr-burgundy)) , hsl(var(--clr-brown)));
    overflow-x: hidden;
    /* min-height: 100vh; */
    position: relative;
    height:100%;
  }
  /* Safari 7.1+ */

/* Safari 10.1+ */

/* @media not all and (min-resolution:.001dpcm) { @media {
    body { 
        background: linear-gradient(black,black);
    }
}}; */
  header{
    z-index: 9000;
  }
  h1{
    position: relative;
   font-size: var(--fs-h1);
   text-transform: uppercase;
   margin:2rem 0;
   z-index: 1000;
    }
  h2{
        font-size: var(--fs-h2);
        text-transform: uppercase;
        margin:5rem 0 5rem 0;
        width: fit-content;
     }
    h3{
    font-size: var(--fs-h3);
    text-transform: uppercase;
    margin:1rem 0 0.5rem 0;
    }
p{
    font-size:1rem;
}
.clickable{
    cursor: pointer;
}
.sky-bg{
    position: fixed;
    top: -10%;
    right: -10%;
    width: 150%;
    height: 150%;
    z-index: -5000;
}
.sky-bg[data-light='true']{
    background: url(../assets/images/bg-leaf.png) center center  repeat;
}
.sky-bg[data-light='false']{
    background: url(../assets/images/bg-stars.png) center center  repeat;
}
.primary-navigation{
    position: fixed;
    flex-direction: column;
    justify-content: space-around;
    padding-inline: 4rem;
    /* align-items: center; */
    inset: 0 0 0 0;
    width: 100%;
    height:100%;
    transform:translateX(100%);
    opacity: 0;
    transition: all 0.2s ease-in-out;
    background-color: hsl(var(--clr-burgundy));
    z-index: 9000;
}

.primary-navigation[data-open='true']{
    opacity: 1;
    transform:translateX(0);
}
.scroll-tracker{
    inset: 0 0 auto;
    height:2px;
    background-color: hsl(var(--clr-orange));
    position: fixed;
    z-index: 999;
    transform-origin: left;
}
#home-sect{
    min-height: 100vh;
}

#spotlight-sect{
  margin-top:3rem;

  width: 100%;
  text-align: center;
  /* height: 10rem; */
  padding: 4rem 0rem 3rem;
  overflow-x: hidden;
  border-bottom: hsl(var(--clr-ds-border)) 2px solid;
  background-color: hsl(var(--clr-brown) /70%);
  /* transition-delay: 0.1s; */
}

.spotlight-content-wrapper{
    /* width: 100%; */
    padding-inline:1rem;
}
.past-events-wrappers:hover h3{
    text-decoration: underline;
}
.ds-wrapper{
    margin: 4rem 0;
}
.left-controls-ds{
    width: clamp(3rem, 10vw, 6rem);
    aspect-ratio: 1;
    height: clamp(3rem, 10vw, 6rem);
    display: grid;
    grid-template-areas: "a b c"
                         "d e f"
                         "g h i";
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    /* background-color: red; */
}
.middle-button-ds,
.left-button-ds,
.right-button-ds,
.up-button-ds,
.down-button-ds{
    width: clamp(1.7rem, 3vw, 2rem);
    height: clamp(1.7rem, 3vw, 2rem);
    aspect-ratio: 1;
}
.middle-button-ds{
   transform: scale(0.8);
}
.left-button-ds,
.right-button-ds,
.up-button-ds,
.down-button-ds,
.x-button-ds,
.b-button-ds,
.y-button-ds,
.a-button-ds{
    color: hsl(var(--clr-ds-border));
border: 2px solid hsl(var(--clr-ds-border));
box-shadow: 5px 5px 0px rgb(0, 0, 0,0.3);
transition: all 0.2s ease-in-out;
background-color: hsl(var(--clr-brown)/90%);
}
.middle-button-ds{
    grid-area: e;
}
.up-button-ds{
    grid-area: b;
}
.down-button-ds{
    grid-area: h;
}
.left-button-ds{
    grid-area: d;
}
.right-button-ds{
    grid-area: f;
}
.right-controls-ds{
    width: clamp(3rem, 10vw, 6rem);
    aspect-ratio: 1;
    height: clamp(3rem, 10vw, 6rem);
    display: grid;
    grid-template-areas: "a1 b1 c1"
                         "d1 e1 f1"
                         "g1 h1 i1";
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    /* background-color: red; */
}
.x-button-ds{
    grid-area: b1;
}
.b-button-ds{
    grid-area:h1;
}
.y-button-ds{
    grid-area: d1;
}
.a-button-ds{
    grid-area: f1;
}
.x-button-ds,
.b-button-ds,
.y-button-ds,
.a-button-ds{
    width: clamp(1.7rem, 3vw, 2rem);
    height: clamp(1.7rem, 3vw, 2rem);
    aspect-ratio: 1;
    border-radius: 50%;
    font-size: clamp(0.75rem, 1.5vw, 1.1rem);
    font-weight: 700;
}
.right-controls-ds>div:hover,
.left-controls-ds>div:not(.middle-button-ds):hover{
    transform: scale(1.2);
     /* cursor: pointer; */
    background-color: hsl(216 65% 30%);
}

  /* .screen{
    background-color: rgb(42, 42, 87);
    width: calc(100% + 2rem);
    height: 100%; 
    aspect-ratio: 16/9;
    margin-left: -1rem;   
    overflow: hidden;
  } */
  .screen-1{
    aspect-ratio: 4/3;
    overflow: hidden;
    margin: auto;
    background-color: rgb(5, 5, 5);
  }
  .screen-2{
    padding:1rem;
    overflow-x: hidden;
    transition: background-color 1s;
  }

  .screen-1,.screen-2{
    width: 100%;
    height: 100%; 
    border: 2px hsl(var(--clr-ds-border)) solid;
  }

  .slides-wrapper{
    /* position:relative; */
    transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
    width: 100%;
    height: 100%;
  }
  
  .slides-info-wrapper{
    /* position:relative; */
    transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
    width: 100%;
    height: 100%;
    margin: auto;
    background-color: rgb(0, 0, 0);
  }

.slides{
    min-width: 100%;
}
.past-events-wrappers{
    width: 100%;
    gap:1rem;
    padding:1rem;
    margin: 2rem 0;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    background-color: hsl(var(--clr-brown)/60%);
    box-shadow: 16px 16px 14px hsl( var(--clr-burgundy)/30%);
    overflow: hidden;
    z-index: 1;

}
.past-events-wrappers>figure{
    width: 100%;
    /* aspect-ratio: 4/3; */
    overflow: hidden;
}
#spotlight-sect img,
.past-events-wrappers>figure>img{
    width:100%;
    /* aspect-ratio: 4/3; */
    object-fit: contain;
    object-position: 50% 50%;
    /* background-color: black; */
}

/* .slides-wrapper:hover{
    transform: translateX(-100%);
} */
.top-ds,.bottom-ds{
    position: relative;
    width: 100%;
    background-color: hsl(var(--clr-ds));
    border: 2px hsl(var(--clr-ds-border)) solid;
    padding: 1rem;
}
.top-ds{
    border-radius: 30px 30px 10px 10px ;
    /* transition-delay: 0.2s; */
    z-index: 1;
}
.mid-ds{
    position: relative;
    width: 98%;
    height: 2rem;
    border-radius: 10px;
    background-color: hsl(var(--clr-ds)/80%);
    border: 1px hsl(var(--clr-ds-border)) solid;
    margin:auto;
    /* transition-delay: 0.25s; */
    z-index: 2;
}
.bottom-ds{
    justify-content: center;
    align-items: center;
    gap: clamp(0.5rem, 2vw, 2rem);
    overflow-x: hidden;
    /* transition-delay: 0.3s; */
    z-index: 3;
}
.slides-wrapper[data-slide='0']{
    transform: translateX(0%);
}
.slides-wrapper[data-slide='1']{
    transform: translateX(-100%);
    }
.slides-wrapper[data-slide='2']{
    transform: translateX(-200%);
    }
.slides-wrapper[data-slide='3']{
    transform: translateX(-300%);
}
  /* .slide-1{
    background: url(../assets/images/OG-logo.png) center center / cover no-repeat;
  } */
  .spotlight-remote{
    gap:clamp(1rem,1rem + 1.5vw,3rem);
    align-items: center;
    margin:auto;
    width: min-content;
  }

  .control-panel{
    background-color: hsl(var(--clr-white-const));
    width: 7rem;
    height: 2.25rem;
    border-radius: 50px;
    gap:0.5rem;
    justify-content:center;
    align-items: center;
    margin:2rem 0;
  }
  .control-panel>.slide-indicators{
    width: 0.75rem;
    height:0.75rem;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: hsl(var(--clr-pink));
    transition: all 500ms;
  }
  .control-panel>.slide-indicators[data-slide='active']{
    width:1.5rem;
    height:1.5rem;
    background-color: hsl(var(--clr-yellow));
    }
    .left-arrow{
    background: url(../assets/images/icons/left-arrow.svg) center center no-repeat;
    }
  .right-arrow{
    background: url(../assets/images/icons/right-arrow.svg) center center no-repeat;
  } 
  .arrows{
    width: 4rem;
    aspect-ratio: 1;
    background-size:contain;
     /* cursor: pointer; */
  }
  .arrows:hover{
    transform: scale(1.05);
  }
 
#past-events-sect{
    overflow-x:hidden;
    padding:1rem;
}
.tabs-menu{
    flex-direction: column;
}
.tabs-wrappers{
    position:relative;
    text-decoration: none;
    padding:0.5rem 0 0.25rem 0;
    gap:0.2rem;
    /* justify-content: center; */
    align-items: center;
    text-align: center;
}
.tabs-menu>a{
    content:'';
    position: relative;


}

.tabs-menu>a::before{
    content:'';
    background-color: hsl( var(--clr-orange) );
    width: 0%;
    height: 1px;
    position: absolute;
    bottom: -2px;
    left: 0;
    transition: all 0.3s ease-in-out;
}

.tabs-menu>a:not(.active):hover::before {
    width: 100%;
}
.tabs-menu>a.active::before{
    width: 100%;
}

.socials-menu{
    /* border-bottom: 0.5px solid hsl(var(--clr-white)); */
    /* border-top: 0.5px solid hsl(var(--clr-white)); */
    gap:1rem;
    padding:0.5rem 0;
}

.fb-icon{
    background: url(../assets/images/icons/facebook.svg) center center no-repeat;
}
.itch-icon{
    background: url(../assets/images/icons/itch.svg) center center no-repeat;
}
.ig-icon{
    background: url(../assets/images/icons/IG.svg) center center no-repeat;
}
.linked-icon{
    background: url(../assets/images/icons/linked.svg) center center no-repeat;
}
.home-icon{
    background: url(../assets/images/icons/home-icon.svg) center center no-repeat;
}
.about-icon{
    background: url(../assets/images/icons/logo-nav.svg) center center no-repeat;
}
.event-icon{
    background: url(../assets/images/icons/event-icon.svg) center center no-repeat;
}
.sponsors-icon{
    background: url(../assets/images/icons/heart-icon.svg) center center no-repeat;
}
.cyberconnect-icon{
    background: url(../assets/images/sponsors/cyberconnect.png) center center no-repeat;
}
.tabs-icons{
    width: 2rem;
    aspect-ratio: 1;
    background-size: contain;
}

.nav-social-icons{
    width: 1.5rem;
    aspect-ratio: 1;
    background-size: contain;
}
.svg{
    filter:brightness(0) saturate(100%);
}
.fb-icon{
    width: 0.75rem;
    aspect-ratio: 2/1;
}

.big-icons{
    width: var(--big-icon-size);
    aspect-ratio: 1;
    margin: auto;
    border-radius: 3px rgb(99, 62, 68) solid;
}
.gamepad-icon{
    background: url(../assets/images/icons/gamepad-icon.svg) center center / cover no-repeat;
}
  /* burger code from https://www.youtube.com/watch?v=dIyVTjJAkLw */
  .menu-btn {
    position: fixed;
    display: flex;
    top: 1rem;
    right: 1.5rem;
    z-index: 9999;
    width: 35px;
    aspect-ratio: 1;
    justify-content: center;
    align-items: center;
     /* cursor: pointer; */
    transition: all .2s ease-in-out;
    background-color: hsl(var(--clr-burgundy)/80%);
    border-radius: 50%;
    border: 2px solid hsl( var(--clr-brown));
  }
  .menu-btn__burger {
    width: 25px;
    height: 2px;
    background: hsl(var(--clr-white));
    /* background: transparent; */
    /* border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255,101,47,.2); */
    transition: all .2s ease-in-out;
    transform: translateX(0px);
  }
  .menu-btn__burger::before,
  .menu-btn__burger::after {
    content: '';
    position: absolute;
    width: 35px;
    height: 2px;
    background: hsl(var(--clr-white));
    /* border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255,101,47,.2); */
    transition: all .2s ease-in-out;
  }
  .menu-btn__burger::before {
    transform: translateY(-8px) translateX(6px);
  }
  .menu-btn__burger::after {
    transform: translateY(8px) translateX(-6px);
  }
  /* ANIMATION */
  .menu-btn.open .menu-btn__burger {
    transform: translateX(-55px);
    background: transparent;
    box-shadow: none;
  }
  .menu-btn.open .menu-btn__burger::before {
    transform: rotate(45deg) translate(35px, -35px);
  }
  .menu-btn.open .menu-btn__burger::after {
    transform: rotate(-45deg) translate(35px, 35px);
  }
  #gallery-sect{
    max-width: 90rem;
    margin: 3rem auto 10rem;
    padding: 1rem;
}
.gallery{
    padding: 0.75rem;
    margin: 0 auto;
    display: grid;
    grid-gap:0.5rem;
    grid-template-columns: repeat(2,1fr);
    grid-auto-rows: 250px;
    grid-auto-flow: dense;
    border:1px solid hsl(var(--clr-pink));
    /* background-color: hsl( var(--clr-burgundy)/50%); */
}

.gallery figure{
    overflow: hidden;
    position: relative;
     /* cursor: pointer; */
    background-color: hsl(var(--clr-orange));
    cursor: pointer;
}
/* .gallery figure:hover{
    filter: brightness(0.4);
} */
.gallery figure img{
    width: 100%;
    height: 100%;
    object-fit: cover;
     /* cursor: pointer; */

    /* object-position: 50% 50%; */
}
.gallery figure:hover::before{
    content: '';
    background: url(../assets/images/icons/zoom-icon.png) center center / cover no-repeat;
    background-size:20rem;
    aspect-ratio: 1;
    opacity: 0.5;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}
.gallery figure:hover::after{
    content: '';
    aspect-ratio: 1;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgb(0, 0, 0,0.8);
}
/* .gallery figure img:hover{
    filter: brightness(0%);
} */
#gallery-zoom-sect{
    width:100%;
    height:100%;
    position: fixed;
    top: 0;
    left:0;
    padding: 1rem 0;
    background-color: hsl( var(--clr-orange)/40%);
    /* backdrop-filter: blur(2rem); */
    justify-content: center;
    align-items: center;
    align-content: center;
    z-index: 9999;
}
#gallery-zoom-sect figure{
    /* max-width: 100%; */
    width:100%;
    height:100%;
    position: relative;

    /* background-color: red; */
}
.current-img{
    transform:translateX(0%);
    /* background-color: green; */
}

.prev-img{
    transform:translateX(-150%);
    /* background-color: rgb(138, 136, 250); */
}
.next-img{
    transform:translateX(150%);
    /* background-color: rgb(55, 52, 240); */
}
#gallery-zoom-sect figure img{
    position: absolute;
    width:100%;
    height:100%;
    object-fit: contain;
    transition: transform 0.2s ease-in-out;
}

#gallery-close-btn{
    position: absolute;
    top:clamp(1rem,5vw,2rem);
    right:clamp(1rem,5vw,3rem);
    font-size: clamp(1rem,5vw,3rem);
     /* cursor: pointer; */
}
#gallery-left-arrow,
#gallery-right-arrow{
    position: absolute;
    /* font-weight: 1000; */
    font-size: clamp(1rem,5vw,2rem);
     /* cursor: pointer; */
    width: 4rem;
    aspect-ratio: 1;
    background-color: hsl( var(--clr-burgundy)/60%);
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    align-content: center;
}
#gallery-left-arrow:hover,
#gallery-right-arrow:hover{
    background-color: hsl( var(--clr-burgundy)/90%);
}
#gallery-left-arrow{
    left:clamp(1rem,5vw,3rem);
}
#gallery-right-arrow{
    right:clamp(1rem,5vw,3rem);
}

/* ABOUT SECTION  */
#about-sect{
    margin-top: 10rem ;
    width: 100%;
}
.about-intro-grid{
    width: 100%;
    /* border: 2px white solid; */
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 250px auto auto;
    /* overflow: hidden; */
}

.intro-text{
  position: relative;
  grid-column-start: 2;
  grid-column-end: 8;
  grid-row-start: 1;
  grid-row-end: 3;
  z-index: 1;
  padding: 1rem;
}

.intro-text::before{
    position: absolute;
    content:'';
    width: 100%;
    height: 180%;
    left:0;
    bottom: 0;
     z-index: -1;
     border: 1px solid hsl;
    background: linear-gradient(rgba(145, 29, 106, 0.6) ,rgba(103, 137, 189, 0));
}
.about-img-wrapper{
    position: relative;
    grid-column-start: 2;
    grid-column-end: 9;
    grid-row-start: 2;
    grid-row-end: 3;
    /* border:1px solid white; */
    right:1rem;
    z-index: 3;
    width: 100%;
    height: 100%;
    max-width: 100%;
    overflow: hidden;
    background-color: black;
}

.about-img-wrapper>img{
    width: 100%;
    height: 100%;
    /* aspect-ratio: 16/9; */
    object-fit: cover;
    object-position: 50% 50%;

}
/* .about-logo-wrapper{
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  z-index: 4;
  width: 100%;
  aspect-ratio: 1;
border-radius: 50%;
} */
/* .about-logo{
    position: relative;

    width: 100%;
    aspect-ratio: 1;
    background: url(../assets/images/cgd-transparent.png) center center / cover no-repeat ;
    z-index: 5;
    transform: scale(0.8);
} */
.about-horizontal-block-wrapper{
    grid-column-start: 1;
    grid-column-end: 9;
    grid-row-start:3;
    grid-row-end: 4;
    width: 100%;
}
.about-horizontal-block{
    position: relative;
    bottom: 1rem;
    /* flex-shrink: 0; */
    /* background:linear-gradient(90deg, hsl(320, 96%, 20%),hsl(var(--clr-orange))) ; */
    background-color: rgb(0, 0, 0,0.95); 
    flex-shrink: 0;
    gap:1rem;
    width: 100%;
    height:100%;
    padding: 1rem 2rem 1rem 2rem;
    align-items: center;
    justify-content: center;
    z-index:8;
    flex-direction: column;
    text-align: center;
    /* border-top: 1px solid white;
    border-bottom: 1px solid white; */
}
.about-logo{
    order:1;
    position: relative;
    min-width: 4rem;
    width: clamp(5rem,30vw,7rem);
    /* height: clamp(3rem,40vw,20rem); */
    aspect-ratio: 1;
    background: url(../assets/images/cgd-transparent.png) center center / contain no-repeat ;
}

.about-horizontal-block>p{
    max-width: clamp(50rem,50vw,60rem);
}
#team-sect{
    margin:10rem 0;
    padding: 0rem 1rem;
}

.team-members-wrapper{
    grid-template-columns: repeat(2,1fr);
    grid-gap:1rem;
}

.fade-black{
    position: relative;
    width:100%;
    height:5rem;
    bottom: 5rem;
    background: linear-gradient(rgb(0,0,0,0),black);
}
/* .members-wrappers:nth-child(2n){
    position:relative;
    transform: translateY(200px);
} */
.members{
    /* width: clamp(10rem,40vw,20rem); */
    max-width: 30rem;
    /* max-height: 35rem; */
    aspect-ratio: 1/1.3;
    background-color:  rgb(8, 8, 8);
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}
.members-names{
    margin: 1rem 0 0 ;
    font-size: var(--fs-members-names);
    text-align: center;
    color: rgb(235, 235, 235);
    text-transform: uppercase;
    max-height: 1ch;
}
.members-names.long{
    font-size:var(--fs-members-long-names);
}
.members-img-wrapper{
    position: relative;
}
.members-img{
    position: relative;
    width: 100%;
    max-width: 100%;
    top:8rem;
    object-fit: cover;
    /* background-color: rgb(0,250, 0,0.1); */
    transition: all 0.2s ease-in-out;
}

.members-img:hover{
    transform: scale(1.1);
}
.members-position {
    /* margin-top: 1rem; */
    position: relative;
    bottom:4rem;
}
#sponsors-sect{
    margin: clamp(6rem,8vw,10rem) 0;
    padding: 1rem;
    min-height: 80vh;
}
.sponsors-wrapper{
    width: 100%;
    margin: clamp(2rem,8vw,3rem) 0;
    justify-content: center;
    align-items: center;
}
.sponsors-logos{
    width: 15rem;
    height: 15rem;
    background-size: contain;
}
.sponsors-cta{
    text-transform: uppercase;
    text-decoration: none;
    /* justify-content:f;; */
    gap:0.5rem;
    align-items: center;
    padding: 0.5rem 1rem;
    margin: auto;
    width: fit-content;
    /* padding: 1rem; */
    border: 2px solid hsl(var(--clr-white));
    border-radius: 50px;
    background-color: hsl(var(--clr-pink));
    cursor: pointer;
    transition: all 300ms;
    overflow: hidden;
}
.sponsors-cta:hover .cta-phrase{
    color:hsl(var(--clr-pink));
}
.cta-phrase{
    position: relative;
    top:0.25rem;
    z-index: 1;
    transition: all 0.3s;
}
.cta-mail-wrapper{
    position: relative;
    width: 3rem;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: hsl(var(--clr-white));
    justify-content: center;
    align-items: center;
}
.cta-mail-wrapper::after{
    content: '';
    position: absolute;
    background: url(../assets/images/icons/mail.svg) center center / contain no-repeat ;
    width: 70%;
    aspect-ratio: 1;
    transition: width 0.3s, height 0.3s;
}
.sponsors-cta:hover .cta-mail-wrapper::after{
    width: 80%;
}
.cta-mail-wrapper::before{
    content: '';
    position: absolute;
    background: white;
    width:0rem;
    aspect-ratio: 1;
    transition: all 0.3s;
}
.sponsors-cta:hover .cta-mail-wrapper::before{
    width:42rem;
}

.sponsors-cta:hover{
    border: 2px solid black;
}
footer{
    flex-direction: column;
    background-color: hsl( var(--clr-burgundy));
    padding: 1rem;
    /* border-top:1px solid hsl(var(--clr-pink)) */
}

footer>div{
    margin:1rem 0;
}
footer a{
    text-decoration: none;
}
footer a:hover{
    color:hsl( var(--clr-orange) );
}
.social-wrapper-footer{
    flex-direction: column;
}
/* ............................................................... */

    @media (hover: hover) and (pointer: fine) {
        /* Styles for hover-able devices */
        /* .inner-cursor,.inner-cursor.grow,.outer-cursor,.outer-cursor.grow {
        } */
        .inner-cursor{
            position:absolute;
            top:-15px;
            left:-15px;
            /* top:0;
            left:0; */
            width: 30px;
            height: 30px;
            transform:translate(-50%,-50%);
            background-color: hsl( var(--clr-orange)/80% );
            /* border: 3px solid hsl( var(--clr-orange) ); */
            /* background-color: transparent; */
            border-radius: 50%;
            pointer-events:none;
            /* transition: width 0.2s, height 0.2s, opacity 0.2s,   background-color 0.2s;  */
            /* opacity: 0; */
            z-index: 9999;
        }
        
        .inner-cursor.grow{
            top:-50px;
            left:-50px;
            width:80px;
            height:80px;
            /* mix-blend-mode:difference; */
            /* opacity: 1; */
            background-color: hsl( var(--clr-pink) );
            border: 3px solid hsl(var(--clr-pink));
            /* transition: width 0.2s, height 0.2s, opacity 0.2s,  background-color 0.2s;  */
        }
    /* 
        .inner-cursor::before{
            content: '';
            position: absolute;

            width: 80px;
            height: 80px;
            border: 3px solid hsl( var(--clr-pink));
        } */
        .outer-cursor{
            position:absolute;
            top:-20px;
            left:-20px;
            /* top:0px;
            left:0px; */
            width: 40px;
            height: 40px;
            transform:translate(-50%,-50%);
            
            border: 1px solid hsl( var(--clr-orange) );
            border-radius: 50%;
            pointer-events: none;
            opacity:1;
            /* transition: width 0.2s, height 0.2s,opacity 0.2s;  */
            z-index: 9999;
        }
        .outer-cursor.grow{
            width: 200px;
            height: 200px;
            /* mix-blend-mode:difference; */
            border: 3px solid hsl( var(--clr-orange) );
            display: none;
            /* transition: width 0.2s, height 0.2s, opacity 0.2s;  */
        }
    
    }

    @media (min-width:35em){
        .v-stretch{
            grid-row:span 2;
        }
        .w-stretch{
            grid-column:span 2;
        }
        .big-stretch{
            grid-column:span 2;
            grid-row:span 2;
        }
    }

   /* **********************************  */
  @media (max-width: 44.99em) {
    .v-stretch{
        grid-row:span 2;
    }
    .w-stretch{
        grid-column:span 2;
    }
    .big-stretch{
        grid-column:span 2;
        grid-row:span 2;
    }
    .nav-logo-mobile{
        background: url(../assets/images/logo-transp-pink.png) center center no-repeat;
        background-size: cover;
        width: 3rem;
        aspect-ratio: 1;
        position: fixed;
        top: 0.5rem;
        left: 1rem;
        z-index: 9999;
    }
    .nav-logo-mobile-bg{
        position: absolute;
        top:40%;
        left:0%;
        width: 90%;
        aspect-ratio: 1;
        background: url(../assets/images/cgd-transparent.png) center center no-repeat;
        background-size: contain;
        opacity: 0.3;
        transform: rotate(-30deg);
    }
    .nav-logo{
        display: none;
    }
    .mid-ds{
        display: none;
    }
    .top-ds,.bottom-ds{
        border-radius: 0;
        background-color: transparent;
        border:none;
        padding:0;
    }
    .top-ds{
        width: calc(100% + 2rem); 
        margin-left: -1rem;   
    }
    .bottom-ds{
        margin-top: 1rem;
    }
    .screen-1,.screen-2{
        border: none;
    }
    .left-controls-ds,
    .right-controls-ds{
        display: none;
    }

    .circles li:nth-child(3){
        display: none;
    }
    
}
  @media (min-width: 45em) {
    :root {
        --logo-float-size: 3.5rem;
        --fs-nav:1.1rem;
        --fs-h1: 4rem;
        --fs-h2:3rem;
        --fs-h3: 1.75rem;
        --big-icon-size:clamp(6rem,8vw,7rem);
        --fs-members-long-names: 3vw;
    }
    .light-mode-toggle{
        top: 5rem;
        right: 3rem;
    }
    .scroll-tracker{
        inset: 3rem 0 auto;
    }
    .menu-btn{
        display: none;
    }
    .primary-navigation{
        flex-direction: row;
        justify-content:space-between;
        align-items: center;
        align-content: center;
        height: 3rem;
        padding-inline: 1rem;
        top:0;
        z-index: 9999;
        transform:translateX(0);
        opacity: 1;
        background-color: hsl(var(--clr-burgundy)/ 70%);
    }
    #spotlight-sect{
        padding:7rem 0rem;
    }
    #spotlight-sect img{
        object-fit: contain;
    }
    .tabs-menu{
        flex-direction: row;
        width: 100%;
        justify-content: center;
        align-items: center;
        align-content: center;
        gap:clamp(1rem,1rem + 1.5vw,3rem);
        /* background-color: red; */
    }
    .tabs-wrappers{
        padding:0;
    }
    .tabs-icons{
        width: 1.75rem;
    }
    .nav-logo{
        display: block;
        background: url(../assets/images/cgd-transparent.png) center center /cover no-repeat;
        width: 2.25rem;
        aspect-ratio: 1;
    }
    .nav-logo-mobile-bg,
    .nav-logo-mobile{
        display: none;
    }
    .spotlight-content-wrapper{
        max-width: 46rem;
        width: 80%;
        margin: auto;
    }
    #past-events-sect{
        max-width: 60rem;
        margin: auto;
    }
    .top-ds,.bottom-ds{
        height:clamp(17rem,40vw,22rem);
        box-shadow: 16px 16px 14px hsl( var(--clr-burgundy)/70%);
    }
    .top-ds,
    .spotlight-content-wrapper>h1,
    .big-icons {
        position: relative;
        top:0.5rem;
        transform:perspective(1000px) rotateX(-15deg) scale(1.05);
    }
    .bottom-ds{
        bottom: 0.9rem;
        border-radius: 10px 10px  30px 30px;
        transform: perspective(1000px) rotateX(25deg) scale(1.13);
    }
    .screen-2[data-color='1']{
        background-color: rgb(5, 5, 5);
        /* #262C6A */
      }
      /* .screen-2[data-color='2']{
        background-color: #372D4F;
      }
      .screen-2[data-color='3']{
        background-color: black;
      } */

    .screen-1,.screen-2{
        width: clamp(23rem, 50vw,28rem);
    }
    #past-events-sect{
        padding: 3rem 1rem;
    }
    .past-events-wrappers{
        flex-direction: row;
        margin: 3rem 0;
        justify-content: center;
        align-items: center;
    }
    .past-events-wrappers:hover::before{
        content: "";
        background-image: conic-gradient(
            hsl(var(--clr-orange)) 30deg,
            transparent 120deg );
        position: absolute;
        width: 103%;
        height: 112%;
        z-index: -3;
        animation: rotate 2.5s linear infinite;
    }
    .past-events-wrappers:hover::after{
        content: "";
        background-color: hsl(var(--clr-brown));
        position: absolute;
        width: 99%;
        height: 96%;
        z-index: -2;
        /* animation: rotate 2s linear infinite; */
    }
    .past-events-wrappers>figure{
        width: clamp(10rem,40vw,22rem);
        flex-shrink:0;
    }
    .gallery{
        padding: 1.5rem;
        grid-gap: 0.5rem;
        grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    }
    .team-members-wrapper{
        grid-template-columns: repeat(3,1fr);
    }
    .about-intro-grid{
        grid-template-rows: 200px auto clamp(100px,40vw,180px);
    }
    .about-img-wrapper{
        right:0rem;
        grid-column-start: 3;
        grid-column-end: 9;
    }
    .about-logo{
        order:0;
        display: block;
        min-width: 10rem;
        width: clamp(10rem,30vw,20rem);
        bottom: 7rem;
    }
    .about-horizontal-block{
        flex-direction: row;
        text-align: left;
    }
    .cta-phrase{
        font-size: 1.25rem;
    }
    footer{
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start;
    }
    footer>div{
        margin:1rem 1rem;
    }
}
@media (min-width: 55em) {
    :root {
        /* --fs-nav:1.25rem; */
        --fs-h1: 5rem;
        --fs-h2:4rem;
        --fs-medium:1.15rem;
    }
    .about-intro-grid{
        grid-template-rows: 250px auto clamp(100px,40vw,180px);
    }
}
@media (min-width: 65em) {
    :root {
        /* --fs-nav:1.25rem; */
        --fs-h1: 5rem;
        --fs-h2:4.25rem;
        --logo-float-size: 5rem;
    }
    #team-sect{
        padding-inline: 5rem;
    }
       .intro-text{
        right: 0rem;
        grid-column-start: 2;
        grid-column-end: 6;
        grid-row-start: 1;
        grid-row-end: 3;
        padding: 2rem;
      }
      .about-img-wrapper{
        right:0rem;
        grid-column-start: 3;
        grid-column-end: 8;
    }
    .intro-text::before{
        background: linear-gradient(rgba(145, 29, 106, 0.8) ,rgba(103, 137, 189, 0));
        /* backdrop-filter: blur(1rem); */
    }
    footer{
        padding-inline: clamp(2rem,40vw,10rem);
    }
}
@media (min-width: 100em){
    .spotlight-content-wrapper{
        max-width: 55rem;
        width: 80%;
        /* border-radius: 50px;  
        border: 5px solid hsl(var(--clr-orange));
        background-color: black; */ 
    }
    .top-ds,.bottom-ds{
        height:clamp(19rem,40vw,24rem);
        box-shadow: 16px 16px 14px hsl( var(--clr-burgundy)/70%);
    }
    .screen-1,.screen-2{
        width: clamp(23rem, 50vw,29rem);
    }
    .team-members-wrapper{
        grid-template-columns: repeat(4,1fr);
    }
    .intro-text{
        position: relative;
        grid-column-start: 2;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 3;
        padding: 2rem;
      }     
}

@supports (backdrop-filter: blur(1rem)) {
    .primary-navigation{
        background-color: hsl(var(--clr-burgundy)/ 80%);
        backdrop-filter: blur(2rem);
    }
    #spotlight-sect{
        background-color: hsl(var(--clr-brown)/ 50%);
        backdrop-filter: blur(1rem);
    }
    .past-events-wrappers{
        background-color: hsl(var(--clr-brown)/70%);
        backdrop-filter: blur(0.5rem);
    }
    .gallery{
        background-color: hsl(var(--clr-burgundy)/ 40%);
        backdrop-filter: blur(0.5rem);
    }
    .about-horizontal-block{
        background-color: rgb(0, 0, 0,0.5);
        backdrop-filter: blur(1rem);
    }
    footer{
        background-color: hsl(var(--clr-burgundy)/ 80%);
        backdrop-filter: blur(2rem);
    }
}
/* .circles-area{
    position:relative;
    height:0vh;
    pointer-events:none;
} */
.circles{
    position:absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    /* min-height: 500vh; */
    height:600vh;
    overflow: hidden;
    z-index: -100;
    /* background-color: blue; */
    pointer-events:none;
}
/* circle float by https://codepen.io/mohaiman/pen/MQqMyo */
.circles li{
    position: absolute;
    display: block;
    list-style: none;
    /* width: var(--logo-float-size);
    height: var(--logo-float-size); */
    /* background: rgba(255, 255, 255, 0.2); */
    background-color: hsl(var(--clr-burgundy)/0.5);
    animation: float-top 150s linear infinite;
    bottom: -200px; 
}
.circles li:nth-child(1){
    left: 25%;
    width: calc(var(--logo-float-size)*1.3);
    aspect-ratio:1;
    animation-delay: 0s;
}
.circles li:nth-child(2){
    left: 10%;
    width: var(--logo-float-size);
    aspect-ratio:1;
    animation-delay: 32s;
    animation-duration: 100s;
}
.circles li:nth-child(3){
    left: 85%;
    width: calc(var(--logo-float-size)*1.5);
    aspect-ratio:1;
    animation-delay: 70s;
}
.circles li:nth-child(4){
    left: 40%;
    width: calc(var(--logo-float-size)*2);
    aspect-ratio:1;
    animation-delay: 10s;
    animation-duration: 120s;
}
.circles li:nth-child(5){
    left: 65%;
    width: calc(var(--logo-float-size)*0.7);
    aspect-ratio:1;
    animation-delay: 57s;
}
.circles li:nth-child(6){
    left: 75%;
    width: calc(var(--logo-float-size)*2.7);
    aspect-ratio:1;
    animation-delay: 15s;
}
.circles li:nth-child(7){
    left: 35%;
    width: calc(var(--logo-float-size)*3.3);
    aspect-ratio:1;
    animation-delay: 54s;
}
.circles li:nth-child(8){
    left:90%;
    width: calc(var(--logo-float-size)*1.9);
    aspect-ratio:1;
    animation-delay: 24s;
    animation-duration: 105s;
}
.circles li:nth-child(9){
    left: 20%;
    width: calc(var(--logo-float-size)*1.7);
    aspect-ratio:1;
    animation-delay: 50s;
    animation-duration: 135s;
}
.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    aspect-ratio:1;
    animation-delay: 40s;
    animation-duration: 135s;
}
.circles li{
    background: url(../assets/images/cgd-transparent.png) center center / contain no-repeat;
}
/* .circles li :hover{
    transform: scale();
} */

@keyframes float-top {
    0%{
        transform: translate(0,0) rotate(0deg);
        opacity: 0.7;
    }

    100%{
        transform: translate(0,-600vh)  rotate(1080deg);
        opacity: 0.3;
    }
}
  /* Utiity Class */
.flex{display: flex;}
.grid{display:grid;}
.hidden{display:none;}
.invisible{opacity: 0;}
.text-center{text-align:center;}
.slide-in-right-100 {
    animation: slide-in-right 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.slide-in-right-1 {
    animation: slide-in-right 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.1s both;
}
.slide-in-right-2 {
    animation: slide-in-right 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.15s both;
}
.slide-in-right-3 {
    animation: slide-in-right 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.2s both;
}
.slide-in-right-4 {
    animation: slide-in-right 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.25s both;
}
.slide-in-right-800 {
    animation: slide-in-right 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.slide-in-bottom-600 {
    animation: slide-in-bottom 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.slide-in-bottom-700 {
    animation: slide-in-bottom 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.4s both;
}
.slide-in-bottom-800 {
    animation: slide-in-bottom 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.45s both;
}
.slide-in-bottom-900 {
    animation: slide-in-bottom 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.55s both;
    
}    
.slide-in-bottom-1000 {
    animation: slide-in-bottom 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.6s both;
}    

  @keyframes slide-in-right {
    0% {
      -webkit-transform: translateX(100px);
              transform: translateX(100px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-bottom {
    0% {
      -webkit-transform: translateY(50px);
              transform: translateY(50px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes rotate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(-360deg);
    }
}

                      /*** MOUSE SCROLL CSS ***/
/* custom scrollbar */
::-webkit-scrollbar {
    width: 20px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: hsl( var(--clr-scr-bg) );
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: hsl( var(--clr-orange)/70%);
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: hsl( var(--clr-orange) );
  }


